streamlit
pandas
python-dotenv
sentence-transformers
groq
openai
google-generativeai
pinecone==7.0.0
chromadb
phidata
pyreadline3
pypdf
# PyPDF2>=3.0.0
gradio
duckduckgo-search
newspaper4k
lxml_html_clean
numpy<2